# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.crc

# Terraform working directory
.terraform/

# Do not ignore .terraform.lock.hcl - commit that file for consistent provider versions

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor/IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Certificates/secrets
certs/
secrets/
*.pem
*.pfx
*.key

# Python virtual environment directories
venv/
env/
.venv/
__pycache__/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# Python distribution artifacts
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
