# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.crc

# Terraform working directory
.terraform/

# Do not ignore .terraform.lock.hcl - commit that file for consistent provider versions

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor/IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Certificates/secrets
certs/
secrets/
*.pem
*.pfx
*.key
